<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <script src="https://kit.fontawesome.com/7769157833.js"></script>
  </head>
  <body>
    <div class="container-whole-page">
      <div class="dashboard-container">
        <div class="side-bar-container">
            <div class="home-icon"><i class="fas fa-home"></i></div>
            <div class="profile-icon"><i class="fas fa-user-friends"></i></div>
            </div>

        <div class="main-dash">
          <div class="top-header-intro">
            <h4 class="name-intro">Welcome back, Jack</h4>
          </div>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>
